<div class="overlay d-flex justify-content-center align-items-center">
</div>

<div class="content py-3 px-3">
  <div class="text-center text-white mb-4">
    <img src="assets/newlogo.png" alt="Logo" width="250px" height="100px" />
  </div>


<div class="scroll-row">
  <div class="scroll-track slow">
    @for (box of firstRow; track box) {
      <div class="train-card {{ box.size }} m-2">
        <div class="card-body">
          <h5 class="card-title">{{ box.title }}</h5>
          <p class="card-text">{{ box.content }}</p>
        </div>
      </div>
    }
  </div>
</div>

<div class="scroll-row">
  <div class="scroll-track fast">
    @for (box of secondRow; track box) {
      <div class="train-card {{ box.size }} m-2">
        <div class="card-body">
          <h5 class="card-title">{{ box.title }}</h5>
          <p class="card-text">{{ box.content }}</p>
        </div>
      </div>
    }
  </div>
</div>



  <div class="text-center mt-2">
    <button class="btn btn-info px-4 py-2 fw-bold" (click)="goToLogin()">
      GET STARTED
    </button>
  </div>
</div>




