<div class="admin-container">
<main class="main-content">
    <app-navbar
      (ideaSearch)="onSearchReceived($event)"
      [allIdeas]="unfiltered_cards"
      [allMergedIdeas]="unfiltered_merged_cards">
    </app-navbar>
    <div class="content-body">
      <section class="submissions-container">
        <h3 class="submissions-header">NEW SUBMISSIONS</h3>
        <div class="submissions-list">
          <div class="submission-item" *ngFor="let idea of all_merged_cards" (click)="open_merged_ticket_details_modal(idea)">
            <div class="idea-info">
                <div class="card-authors" *ngIf="idea.user_idea_details?.length">
                 <ng-container *ngIf="idea.user_idea_details.length > 3">
                   <img *ngFor="let user of idea.user_idea_details.slice(0, 2)"
                        [src]="user.user_details.profile_picture || 'assets/default-user.png'"
                        class="author-avatar" [title]="user.user_details.name">
                   <div class="avatar-counter">+{{ idea.user_idea_details.length - 2 }}</div>
                 </ng-container>
                 <ng-container *ngIf="idea.user_idea_details.length <= 3">
                   <img *ngFor="let user of idea.user_idea_details"
                        [src]="user.user_details.profile_picture || 'assets/default-user.png'"
                        class="author-avatar" [title]="user.user_details.name">
                 </ng-container>
               </div>
              <div class="idea-text">
                <div class="idea-name">{{ idea.merged_idea_details.title }}</div>
                <div class="idea-description">{{ idea.merged_idea_details.subject }}</div>
              </div>
            </div>
            <div class="action-buttons">
              <button class="approve-btn" (click)="onApprove(null,idea.merged_idea_details.id); $event.stopPropagation()">APPROVE</button>
              <button class="decline-btn" (click)="onDecline(null,idea.merged_idea_details.id); $event.stopPropagation()">DECLINE</button>
            </div>
          </div>
          <div class="submission-item" *ngFor="let idea of all_cards" (click)="open_ticket_details_modal(idea)">
            <div class="idea-info">
                <img [src]="idea.user_details.profile_picture || '/assets/userLogo.png'" width="30px" [attr.title]="idea.user_details.name" class="author-avatar">
              <div class="idea-text">
                <div class="idea-name">{{ idea.idea_details.title }}</div>
                <div class="idea-description">{{ idea.idea_details.subject }}</div>
              </div>
            </div>
            <div class="action-buttons">
              <button class="approve-btn" (click)="onApprove(idea.idea_details.id,null); $event.stopPropagation()">APPROVE</button>
              <button class="decline-btn" (click)="onDecline(idea.idea_details.id,null); $event.stopPropagation()">DECLINE</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>

<div class="modal fade" id="ticket_details_modal" tabindex="-1" aria-labelledby="ticketDetailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div #modelContent class="modal-content">
      <div class="modal-header gap-2 text-muted" *ngIf="selectedCard">
        <img [src]="selectedCard.user_details.profile_picture || '/assets/userLogo.png'" width="30px" [attr.title]="selectedCard.user_details.name" class="author-avatar">
         <span>{{ selectedCard.idea_details.title}}</span>
      </div>
      <div class="modal-body">
        <app-idea-details  *ngIf="selectedCard && model_opened" [cardData]="selectedCard" [mySpace]=false [isIdeaCommentsVisible]=false></app-idea-details>
      </div>
      <div class="modal-footer">
        <div class="modal-actions">
          <button class="approve-btn" (click)="onApprove(selectedCard!.idea_details.id,null)">APPROVE</button>
          <button class="decline-btn" (click)="onDecline(selectedCard!.idea_details.id,null)">DECLINE</button>
        </div>
        <button type="button" class="btn btn-secondary" (click)="close_ticket_details_modal()">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="merged_ticket_details_modal" tabindex="-1" aria-labelledby="mergedTicketDetailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header text-muted row" *ngIf="selectedMergedCard">
        <div class="idea_header col" *ngIf="selectedMergedCard.user_idea_details?.length" (click)="showMergedIdea=true" style="max-width: fit-content;">
          <img *ngFor="let user of selectedMergedCard.user_idea_details.slice(0, 3)"
                [src]="user.user_details.profile_picture || 'assets/userLogo.png'" width="30px"
                class="author-avatar" [title]="user.user_details.name">
          Merged Idea
        </div>
        <div *ngFor="let user of users" class="idea_header col">
          <div class="idea-tab-content" (click)="showChildIdea(user.idea_details.id)">
            <img [src]="user.user_details.profile_picture || '/assets/userLogo.png'" width="30px" [attr.title]="user.user_details.name" class="author-avatar">
            <span class="idea-header-title">{{ user.idea_details.title }}</span>
          </div>
          <button class="close-btn" (click)="removeThisIdea(user); $event.stopPropagation()">×</button>
        </div>
      </div>
      <div class="modal-body">
        <app-merged-idea-details *ngIf="selectedMergedCard && showMergedIdea" [cardData]="selectedMergedCard" [isMergedCommentsVisible]=false ></app-merged-idea-details>
        <app-idea-details  *ngIf="selectedCard && !showMergedIdea" [cardData]="selectedCard" [mySpace]=false [isIdeaCommentsVisible]=false></app-idea-details>
      </div>
      <div class="modal-footer">
        <div>
          <div class="modal-actions" *ngIf="selectedMergedCard && showMergedIdea">
            <button class="approve-btn" (click)="onApprove(null,selectedMergedCard.merged_idea_details.id)">APPROVE</button>
            <button class="decline-btn" (click)="onDecline(null,selectedMergedCard.merged_idea_details.id)">DECLINE</button>
          </div>
        </div>
      <span class="row">
        <button type="button" class="icon-btn refine-icon col gap-2" title="Remerge Ideas with AI">
          <i class="bi bi-magic"></i>
          <span  class="spinner-border spinner-border-sm me-2"></span>
        </button>
          <button type="button" class="btn btn-secondary col" (click)="close_merged_ticket_details_modal()">Close</button>
      </span>
    </div>
    </div>
  </div>
</div>