<div class="homescreen-container">
    <!-- <app-navbar (ideaSearch)="onSearchReceived($event)"></app-navbar> -->
    <app-navbar 
    (ideaSearch)="onSearchReceived($event)" 
    [allIdeas]="unfiltered_cards" 
    [allMergedIdeas]="unfiltered_merged_cards">
  </app-navbar>
  <main class="main-content">
    <section class="wall col-8">
      <div class="main-idea-card">
        <div class="idea-row-scroll">
          <div *ngFor="let card of all_merged_cards" class="idea-card">
            <div class="idea-content" (click)="open_merged_ticket_details_modal(card, false)" style="cursor: pointer;">
              <div class="card-authors" *ngIf="card.user_idea_details?.length">
                 <ng-container *ngIf="card.user_idea_details.length > 3">
                   <img *ngFor="let user of card.user_idea_details.slice(0, 2)"
                        [src]="user.user_details.profile_picture || 'assets/default-user.png'"
                        class="author-avatar" [title]="user.user_details.name">
                   <div class="avatar-counter">+{{ card.user_idea_details.length - 2 }}</div>
                 </ng-container>
                 <ng-container *ngIf="card.user_idea_details.length <= 3">
                   <img *ngFor="let user of card.user_idea_details"
                        [src]="user.user_details.profile_picture || 'assets/default-user.png'"
                        class="author-avatar" [title]="user.user_details.name">
                 </ng-container>
               </div>
              <h5 class="idea-title">{{ card?.merged_idea_details?.title }}</h5>
              <p class="idea-subject">{{ card?.merged_idea_details?.subject }}</p>
            </div>
            <div class="idea-bottom-section">
              <app-votes-section [card]="card" [currentUserId]="currentUserId"></app-votes-section>
              <div class="comments-display" (click)="open_merged_ticket_details_modal(card, true)">
                <i class="bi bi-chat-dots"></i>
                <span class="comment-count" *ngIf="card.merged_idea_details.comments_count != null">
                  {{ getCommentsDisplay(card.merged_idea_details.comments_count) }}
                </span>
              </div>
            </div>
          </div>
          <div *ngFor="let card of all_cards" class="idea-card">
            <div class="idea-content" (click)="open_ticket_details_modal(card, false)" style="cursor: pointer;">
              <div class="card-authors">
                <img [src]="card.user_details.profile_picture || 'assets/default-user.png'"
                     alt="Author" class="author-avatar" [title]="card.user_details.name">
              </div>
              <h5 class="idea-title">{{ card?.idea_details?.title }}</h5>
              <p class="idea-subject">{{ card?.idea_details?.subject }}</p>
            </div>
            <div class="idea-bottom-section">
              <app-votes-section [card]="card" [currentUserId]="currentUserId"></app-votes-section>
              <div class="comments-display" (click)="open_ticket_details_modal(card, true)">
                <i class="bi bi-chat-dots"></i>
                <span class="comment-count" *ngIf="card.idea_details.comments_count != null">
                  {{ getCommentsDisplay(card.idea_details.comments_count) }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <aside class="sidebar col-3">
      <div class="sidebar-title">MY SPACE:</div>
      <div class="my-ideas">
        <div class="my-ideas scrollable-my-ideas">
          <div *ngIf="all_my_cards.length === 0" class="idea-name">
            <p>No ideas in your space.</p>
          </div>
          <div *ngFor="let idea of all_my_cards" class="my-idea-card" (click)="open_my_space_idea_modal(idea, false)"
            title="Click to view idea">
            <div class="my-idea-header">
              <span class="dot" [ngClass]="getStatusColor(idea.status)"></span>
              <span class="idea-name">{{ idea.title }}</span>
            </div>
            <small class="my-idea-subject">{{ idea.subject }}</small>
          </div>
        </div>
      </div>
      <hr />
      <button class="add-more-btn" (click)="open_add_idea_modal()">＋ ADD MORE</button>
    </aside>
  </main>
</div>


<div class="modal fade" id="ticket_details_modal" tabindex="-1" aria-labelledby="ticketDetailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div #modelContent class="modal-content">
      <div class="modal-header gap-2 text-muted" *ngIf="selectedCard">
        <img [src]="selectedCard.user_details.profile_picture || '/assets/userLogo.png'" width="30px" [attr.title]="selectedCard.user_details.name" class="author-avatar">
         <span>{{ selectedCard.idea_details.title}}</span>
      </div>
      <div class="modal-body">
        <app-idea-details  *ngIf="selectedCard && model_opened" [cardData]="selectedCard" [mySpace]="mySpace" [isIdeaCommentsVisible]="isIdeaCommentsVisible"></app-idea-details>
      </div>
      <div class="modal-footer">
        <div class="modal-actions">
          <app-votes-section *ngIf="selectedCard && selectedCard.idea_details.status>0" [card]="selectedSmallCard || selectedCard" [currentUserId]="currentUserId"></app-votes-section>
          <div class="comments-display" (click)="toggleIdeaCommentsVisibility()" *ngIf="selectedCard && selectedCard.idea_details.status > 0">
            <i class="bi bi-chat-dots"></i>
            <span class="comment-count" *ngIf="selectedCard.idea_details.comments_count != null">
              {{ getCommentsDisplay(selectedCard.idea_details.comments_count) }}
            </span>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="close_ticket_details_modal()">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="merged_ticket_details_modal" tabindex="-1" aria-labelledby="mergedTicketDetailsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header text-muted row" *ngIf="selectedMergedCard">
        <div class="idea_header col" *ngIf="selectedMergedCard.user_idea_details?.length" (click)="showMergedIdea=true;isMergedCommentsVisible=false">
          <img *ngFor="let user of selectedMergedCard.user_idea_details.slice(0, 3)"
                [src]="user.user_details.profile_picture || 'assets/userLogo.png'" width="30px"
                class="author-avatar" [title]="user.user_details.name">
          Merged Idea
        </div>
        <!-- </span> -->
        <div *ngFor="let user of selectedMergedCard.user_idea_details" style="gap:3" class="idea_header col" (click)="showChildIdea(user.idea_details.id)" >
         <img [src]="user.user_details.profile_picture || '/assets/userLogo.png'" width="30px" [attr.title]="user.user_details.name" style="border-radius: 50%;" class="author-avatar">
         {{ user.idea_details.title }}
        </div>
      </div>
      <div class="modal-body">
        <app-merged-idea-details *ngIf="selectedMergedCard && showMergedIdea" [cardData]="selectedMergedCard" [isMergedCommentsVisible]="isMergedCommentsVisible" ></app-merged-idea-details>
        <app-idea-details  *ngIf="selectedCard && !showMergedIdea" [cardData]="selectedCard" [mySpace]="mySpace" [isIdeaCommentsVisible]="isIdeaCommentsVisible"></app-idea-details>
      </div>
      <div class="modal-footer">
        <div class="modal-actions">
          <app-votes-section *ngIf="selectedMergedCard && showMergedIdea" [card]="selectedMergedSmallCard" [currentUserId]="currentUserId"></app-votes-section>
          <app-votes-section *ngIf="selectedCard && selectedCard.idea_details.status>0 && !showMergedIdea" [card]="selectedSmallCard || selectedCard" [currentUserId]="currentUserId"></app-votes-section>
          <div class="comments-display" (click)="toggleMergedCommentsVisibility()" *ngIf="selectedMergedCard && showMergedIdea">
            <i class="bi bi-chat-dots"></i>
            <span class="comment-count" *ngIf="selectedMergedCard.merged_idea_details.comments_count != null">
              {{ getCommentsDisplay(selectedMergedCard.merged_idea_details.comments_count) }}
            </span>
          </div>
          <div class="comments-display" (click)="toggleIdeaCommentsVisibility()" *ngIf="selectedCard && selectedCard.idea_details.status > 0 && !showMergedIdea">
            <i class="bi bi-chat-dots"></i>
            <span class="comment-count" *ngIf="selectedCard.idea_details.comments_count != null">
              {{ getCommentsDisplay(selectedCard.idea_details.comments_count) }}
            </span>
          </div>
        </div>
        <button type="button" class="btn btn-secondary" (click)="close_merged_ticket_details_modal()">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addIdea_modal" tabindex="-1" aria-labelledby="addIdeaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addIdeaModalLabel">Create a New Idea</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close_add_idea_modal()"></button>
      </div>
      <div class="modal-body">
        <app-create-add></app-create-add>
      </div>
    </div>
  </div>
</div>

<!-- User Profile Modal -->
<div class="modal fade" id="user_profile_modal" tabindex="-1" aria-labelledby="userProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userProfileModalLabel">HELLO!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        </div>
    </div>
  </div>
</div>




